# registry=https://registry.npm.taobao.org
# electron 指定下载源
ELECTRON_MIRROR=http://npm.taobao.org/mirrors/electron/
# registry=https://registry.npmjs.org/
# registry=http://nexus.saas.hand-china.com/content/groups/hzero-npm-group/
